
<!DOCTYPE HTML>
<html>

  <head>
  
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  </head>

  <body>
    <div class="container">

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
		  <li>
<a href="/qbittorrent/">/qbittorrent/</a>
		  </li>
		  <li>
<a href="/jenkins/">/jenkins/</a>
		  </li>
		  <li>

<a href="/transmission/">/transmission/</a>
		  </li>
		  <li>
<a href="/rpc">/rpc</a>
		  </li>
		  <li>
<a href="/rssfeed/">/rssfeed/</a>
		  </li>
		  <li>
<a href="/rssme/">/rssme/</a>
		  </li>
		  <li>
<a href="/portainer/">/portainer/</a>
</li>
<li>
<a href="/podcast/">/podcast/</a>
</li>
<li>
<a href="/podcast">/podcast</a>
</li>
<li>
<a href="/pub">/pub</a>
</li>

<li>
<a href="/home-assistant">/home-assistant</a>
</li>

<li>
<a href="/drop">/drop</a>
</li>

</div>
      </nav>
      
      
    </div>
  </body>
</html>
