version: '3'
services:
    adminer:
        image: adminer
        ports:
            - 11111:8080
    setup:
        image: miniflux/miniflux:2.0.37
        ports:
            - "3354:8080"
        depends_on:
            - db
        environment:
            - DATABASE_URL=postgres://miniflux:XXXX@db/miniflux?sslmode=disable
            - RUN_MIGRATIONS=1
            - CREATE_ADMIN=1
            - ADMIN_USERNAME=admin
            - ADMIN_PASSWORD=test123
            - BASE_URL=https://rssfeed.netpascal.site/
        restart: "no"
