version: "3.7"

services:
    db:
        image: "postgres"
        environment:
            - "POSTGRES_PASSWORD=pyshelf"
            - "POSTGRES_USER=pyshelf"
            - "POSTGRES_DB=pyshelf"
        volumes:
            - "/home/pascal/pyshelf/data:/var/lib/postgresql/data"
    pyshelf:
        image: "pyshelf/pyshelf"
        ports: 
            - "8000:8000"
            - "1337:1337"
        volumes:
            - "/media/Saumon/Ebook:/books:ro"
        depends_on:
            - db
