version: '3.1'
services:
  redmine:
    image: redmine:4.2.3
    restart: unless-stopped
    ports:
      - 4000:3000
    entrypoint: /docker-entrypoint.sh
    command: ["rails", "server", "-b", "0.0.0.0"]
    environment:
      REDMINE_DB_MYSQL: db
      REDMINE_DB_PASSWORD: example
      REDMINE_SECRET_KEY_BASE: supersecretkey
      REDMINE_PLUGINS_MIGRATE: 1
    volumes:
    - /home/pascal/redmine/files:/usr/src/redmine/files
    - /home/pascal/redmine/plugins:/usr/src/redmine/plugins
  db:
    image: mysql:5.7
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: redmine
    volumes:
    - /home/pascal/redmine/mysql:/var/lib/mysql
    - /home/pascal/redmine/dump:/home/pascal/redmine/dump
