version: '3'

services:
  tor:
    image: netpascal0123/ranger:tor
    restart: unless-stopped
    volumes:
    - /home/pascal/tor-hidden:/web
    environment:
        LISTEN_PORT: "80"
        REDIRECT: "netpascal.myvnc.com:80"
        PRIVATE_KEY:  |
{{ lookup('file', 'private_key')|indent(10, true) }}

