[Unit]
Description={{ name }} container

[Service]
WorkingDirectory=/home/pascal/{{ name }}
ExecStartPre=bash -c '{{ cleanup_cmd }} || /bin/true'
ExecStart={{ startup_cmd }}
{% if wait_cmd | default("/usr/local/bin/waithttp") %}
ExecStartPost={{ wait_cmd | default("/usr/local/bin/waithttp", true) }} {{ service_ip }} {{ service_port }}
{% endif %}
ExecStartPost=/usr/bin/bash -c "sleep 1h && /usr/bin/systemctl stop {{ name }}-docker.service &"
ExecStop={{ cleanup_cmd }}
